# Node dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# Build outputs
dist/
build/
frontend/dist/
backend/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test coverage
coverage/
frontend/coverage/
backend/coverage/

# Environment variables (all env files)
.env
.env.*
frontend/.env
frontend/.env.*
backend/.env
backend/.env.*


backend/config/firebaseKey.json

# OS files
.DS_Store
Thumbs.db

# IDE/Editor folders and temp files
.vscode/
.idea/
*.swp

# Local database
*.sqlite
*.db

# Mac system files
*.DS_Store

# Windows system files
ehthumbs.db
Icon?
Desktop.ini

# Miscellaneous
*.log
*.tgz
*.bak
*.tmp
*.temp
*.pid
*.seed
*.sublime-workspace
*.sublime-project

# Ignore by pattern
*secret*
*privateKey*
**/privateKey.json
*key.json
